<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="LocalFeed" value=".\LocalFeed" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="BitMiracle.LibTiff.NET" />
			<package pattern="NETStandard.Library" />
			<package pattern="SkiaSharp" />
			<package pattern="Syncfusion.Compression.Net.Core" />
			<package pattern="syncfusion.Licensing" />
			
		</packageSource>
		<packageSource key="SaskiaLocalFeed">
			<package pattern="Syncfusion.Pdf.Imaging.Net.Core" />
			<package pattern="Syncfusion.Pdf.Net.Core" />
		</packageSource>
	</packageSourceMapping>

	<disabledPackageSources>
		<clear />
	</disabledPackageSources>
</configuration>